# deps
node_modules/
.pnpm-store/
.venv/
__pycache__/
*.pyc

# builds
app/.nuxt/
app/.output/
app/dist/
app/android/
app/ios/

# env
.env
.env.*
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
